@tailwind base;

@layer base {
  /* If you want to add some custom CSS that should always be included, add it to your stylesheet without using the @layer directive */
  :root {
    /* For hsl(198deg 93% 60% / <alpha-value>) */
    --color-primary-400: 228deg 39% 23%;
    --color-accent-400: 12deg 99% 59%;
    --color-accent-100: 13deg 100% 96%;
    --color-neutral-900: 232deg 12% 13%;
    --color-neutral-100: 0deg 0% 100%;

    --max-width: 1110px;
    --padding: 1rem;

    /* --fs-primary-heading: 2.5rem;
    --fs-secondary-heading: 1.875rem; */

    /* --fw-bold: 700;
    --fw-regular: 400;
    --fw-semi-bold: 500; */
  }

  /* Box sizing rules */
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  /* Prevent font size inflation */
  html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
  }

  * {
    margin: 0;
    padding: 0;
    font: inherit;
  }

  /* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
  ul[role="list"],
  ol[role="list"] {
    list-style: none;
  }

  html,
  main {
    height: 100%;
  }
  /* Set core body defaults */
  main {
    min-height: 100vh;
    line-height: 1.5;
  }

  /* Set shorter line heights on headings and interactive elements */
  h1,
  h2,
  h3,
  h4,
  button,
  input,
  label {
    line-height: 1.1;
  }

  /* Balance text wrapping on headings */
  h1,
  h2,
  h3,
  h4 {
    text-wrap: balance;
  }

  /* A elements that don't have a class get default styles */
  a:not([class]) {
    text-decoration-skip-ink: auto;
    color: currentColor;
  }

  /* Make images easier to work with */
  img,
  picture,
  svg {
    max-width: 100%;
    display: block;
  }

  /* Make sure textareas without a rows attribute are not tiny */
  textarea:not([rows]) {
    min-height: 10em;
  }

  /* Anything that has been anchored to should have extra scroll margin */
  :target {
    scroll-margin-block: 5ex;
  }

  /* general styling */
  .general-container {
    --max-width: 1110px;
    /* not padding in techical sense */
    --padding: 1rem;

    width: min(var(--max-width), (100% - var(--padding) * 2));
    /* for centering the element */
    margin-inline: auto;
  }
}

@tailwind components;

@layer components {
  .btn-main {
    @apply w-32 rounded-full bg-accent_400 text-white hover:bg-accent_100 hover:text-black;
  }

  /* em is the only unit that is consistent across all the browsers*/
  .even-columes {
    @apply standard-sm:grid-flow-col standard-sm:auto-cols-1fr grid gap-4;
  }
}
@tailwind utilities;
